{%- comment -%}
  ------------------------------------------------------------------------------
  	Section: Image with text
  ------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign text_alignment = section.settings.text_alignment -%}
{%- assign heading = section.settings.heading -%}
{%- assign subheading = section.settings.subheading -%}
{%- assign text_content = section.settings.text_content -%}
{%- assign button_label = section.settings.button_label -%}
{%- assign button_aria_label = section.settings.button_aria_label -%}
{%- assign button_url = section.settings.button_url -%}
{%- assign button_style = section.settings.button_style -%}
{%- assign is_show_border_top = section.settings.is_show_border_top -%}
{%- assign is_show_border_bottom = section.settings.is_show_border_bottom -%}
{%- assign border_color = section.settings.border_color -%}
{%- assign full_width = section.settings.full_width -%}
<style>
  .ante-Template .ante-template {
    text-align: var(--text-alignment);
  }
  .ante-temp .ante-temp__heading + .ante-temp__subheading {
    margin-top: 20px;
  }
  .ante-temp .ante-tmp__button {
    margin-top: 30px;
  }
  .ante-reward-cards .ante-temp .ante-temp__heading {
    margin-bottom: 40px;
  }
  .ante-reward-cards .ante-reward-box {
    grid-template-columns: repeat(auto-fit, minmax(288px, 359px));
    justify-content: start;
    gap: 1.25rem;
    display: grid;
  }
  .ante-reward-cards .ante-reward-card {
    position: relative;
    height: 100%;
    display: grid;
    grid-auto-rows: max-content;
    gap: 0.75rem;
    box-sizing: border-box;
    padding: clamp(0.75rem, -10.5px + 4.5vw, 1.5rem);
    text-align: center;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(221, 73%, 16%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    transition: background-color 0.2sease-in-out;
  }
  .ante-reward-box {
    max-width: 1118px;
    margin: 0 auto;
    width: 100%;
  }
  .ante-reward-flex {
    display: grid;
    justify-items: center;
    gap: 1.25rem;
    font-size: clamp(18px, 14px + 0.8vw, 20px);
    color: hsl(221, 73%, 16%);
  }
  .ante-reward-hover {
    overflow: hidden;
    display: inline-block;
    position: relative;
  }

  .ante-reward-content {
    padding: 12px;
  }

  .ante-reward-btn {
    width: 100%;
    position: absolute;
    transform: translateY(100%);
    transition: transform 0.2s ease;
    bottom: 0;
    height: auto;
    align-items: center;
    top: 0;
    padding: 12px;
    justify-content: center;
    display: flex;
    gap: 8px;
  }
  .ante-reward-cards .ante-reward-card:hover .ante-reward-btn {
    transform: translateY(0);
  }
  .ante-reward-cards .ante-reward-card .ante-reward-content {
    transform: translateY(0);
    transition: transform 0.2s ease;
  }
  .ante-reward-cards .ante-reward-card:hover .ante-reward-content {
    transform: translateY(-100%);
  }
  .ante-reward-cards .ante-reward-card:hover {
    background-color: hsl(0, 0%, 95%);
  }
  .ante-reward-cards .ante-icon {
    border-radius: 50%;
    background-color: hsl(0, 0%, 95%);
  }
  .ante-reward-cards .ante-reward-con,
  .ante-reward-cards  .ante-reward-link{
    padding: 10px;
    text-decoration: none;
    color: #262626;
  }
  .ante-reward-cards  .ante-reward-link.border{
    border: 1px solid #AB9B81;
    border-radius: .5rem;
  }
  @media (min-width: 768px) {
    .ante-temp .ante-temp__heading + .ante-temp__subheading {
      margin-top: 30px;
    }
    .ante-temp .ante-tmp__button {
      margin-top: 50px;
    }
  }
</style>
{%- capture section_styles -%}
	--text-alignment: {{ text_alignment | replace: "left", "start" | replace: "right", "end" }};
	--border-top-value: {% if is_show_border_top %}1px solid {{ border_color }} {% else %}none{% endif %};
	--border-bottom-value: {% if is_show_border_bottom %}1px solid {{ border_color }} {% else %}none{% endif %};
{%- endcapture -%}

{% capture button %}
	{%- if button_label != blank and button_url != blank -%}
		<a
			href="{{- button_url -}}"
			{%- if button_aria_label != blank -%}aria-label="{{- button_aria_label | escape -}}"{%- endif -%}
			class="{% if button_style == 'circle' and settings.design == 'alternate' %}button-circle{% endif %} ante-tmp__button {% if settings.design == 'alternate' %}button-new{% else %}button{% endif %} button--{% if button_style == 'circle' and settings.design == 'standard' %}primary{% else %}{{- button_style -}}{% endif %}">
			<span class="button__text {{ design }}">
				{{- button_label -}}
			</span>

			{% if button_style == 'circle' and settings.design == 'alternate' %}
				<span class="button-new__icon-container">
					<span class="button-new__icon-wrapper">
						{% render "icons-new", icon: "wave" %}
					</span>
				</span>
			{% endif %}
		</a>
	{%- endif -%}
{% endcapture %}

{%- capture content -%}
	<div class="ante-temp">
		<div class="ante-temp-content">
			{%- if heading != blank -%}
				<h2 class="h2 ante-temp__heading">
					{{- heading -}}
				</h2>
			{%- endif -%}

			{% if subheading != blank %}
				<p class="ante-temp__subheading">{{ subheading }}</p>
			{% endif %}

			{%- if text_content != blank -%}
				<div class="ante-temp__text-content section-rte">
					{{- text_content -}}
				</div>
			{%- endif -%}

			{{ button }}
		</div>
	</div>
{%- endcapture -%}

{%- style -%}
  #shopify-section-{{- section.id -}} {
  	padding-top: {{- section.settings.offset_top_mobile -}}px;
  	padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
  }

  @media screen and (min-width: 992px) {
  	#shopify-section-{{- section.id -}} {
  		padding-top: {{- section.settings.offset_top_desktop -}}px;
  		padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
  	}
  }
{%- endstyle -%}

{% assign is_lazy = true %}

{% if section.index == 1 %}
  {% assign is_lazy = false %}
{% endif %}

<section
  class="ante-Template ante-reward-cards js-animate{% if request.visual_preview_mode or section.index == 1 %} animated{% endif %}"
  style="{{ section_styles }}"
>
  <div
    class="container ante-template {% if full_width == false %}page-width{% endif %}"
  >
    <div class="ante-header">
      {{- content -}}
    </div>
    <div class="ante-content">
      <div class="ante-reward-box">
        {%- for block in section.blocks -%}
          <div class="ante-reward-card">
            <div class="ante-reward-flex">
              {%- if block.settings.icon != blank -%}
                <div class="ante-icon">
                  {%- assign icon = block.settings.icon -%}
                  {{ icon | image_url: width: 60, height: 60 | image_tag: loading: 'lazy' }}
                </div>
              {%- endif -%}
              <h4>{{ block.settings.title }}</h4>
            </div>
            <div class="ante-reward-hover">
              <div class="ante-reward-content">
                <div class="ante-reward-con">
                  {{ block.settings.content }}
                </div>
              </div>
              <div class="ante-reward-btn">
                <a class="ante-reward-link border" href="{{ routes.account_register_url }}">Sign Up</a>
                <a class="ante-reward-link" href="{{ routes.account_login_url }}">Log in</a>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{%- schema -%}
{
  "name": "Ante Reward Card",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "id": "text_alignment",
      "type": "select",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "subheading",
      "type": "textarea",
      "label": "Subheading"
    },
    {
      "id": "text_content",
      "type": "richtext",
      "label": "Text"
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "Button label"
    },
    {
      "id": "button_aria_label",
      "type": "text",
      "label": "Button aria-label",
      "info": "Need for good accessibility, e.g. 'All news about...'. [Learn more](https://utdweb.team/shopify-themes/gain/manual#section-image-with-text)"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "button_style",
      "type": "select",
      "label": "Button style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "info": "Circle button appears with an alternate design",
      "default": "primary"
    },
    {
      "id": "is_show_border_top",
      "type": "checkbox",
      "label": "Show border-top",
      "default": false,
      "info": "Only desktop and works with a standard design"
    },
    {
      "id": "is_show_border_bottom",
      "type": "checkbox",
      "label": "Show border-bottom",
      "default": false,
      "info": "Only desktop and works with a standard design"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#e6e6e6"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make full width",
      "default": true,
      "info": "If unchecked - container width will be set based on the group 'Layout' settings in the Theme settings."
    },
    {
      "type": "range",
      "id": "offset_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Desktop offset top",
      "default": 0
    },
    {
      "type": "range",
      "id": "offset_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Desktop offset bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "offset_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile offset top",
      "default": 0
    },
    {
      "type": "range",
      "id": "offset_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile offset bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Content</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ante Reward Card",
      "settings": {
        "heading": "Text heading",
        "subheading": "Subheading",
        "text_content": "<p>Combine an image with text to highlight a specific product, collection, or blog post of your choice. Enhance the content by including information on its availability, style, or possibly a review.</p>",
        "button_label": "Button label",
        "button_aria_label": "Button label",
        "button_url": "/"
      }
    }
  ]
}
{%- endschema -%}
